.para-deploy{
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    margin-top: 6rem;
    align-items: center;
    text-align: center;
    letter-spacing: 1.44px;
    text-transform: uppercase;

    color: #696977;

}

.brand-grid-subtext{
    width: 95px;
height: 29px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 29px;
display: flex;
align-items: center;
letter-spacing: -0.176px;
color: #4D4D56;

}

.button-grid{
    align-self: center;
}

.brand-grid-name{
    width: 66px;
    height: 34px;

    font-family: 'Archivo';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    /* identical to box height, or 140% */

    display: flex;
    align-items: center;
    letter-spacing: -0.72px;

    color: #18181B;
}

.para2-deploy{
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 67px;
    margin-top: 0rem;
    align-items: center;
    text-align: center;
    letter-spacing: -1.68px;

    color: #18181B;
}

.grid-deploy{
    display: grid;
    align-items: center;
    grid: 8.5rem / 18rem 18rem auto;
    margin-left: 22rem;
}

.grid{
    position: relative;
    display: grid;
}

.logo-grid{
    align-self: center;
}

.circle-deploy{
    text-align: center;
    border: 1px solid #E4E4E7;
    border-radius: 40px;
    width: 30px;
    height: 30px;
}

.circle-deploy>img{
    margin-top: 10px;
}

.grid1,.grid2,.grid3,.grid4,.grid5,.grid6{
    display: grid;
    grid: 7.5rem / auto auto auto;
    width: 17rem;
    box-sizing: border-box;
    border: 1px solid #E4E4E7;
    border-radius: 12px;
    grid-gap: 10px;    
}

